/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* Base */
:root {
    --font-bigger: 4rem;
    --font-big: 2.5rem;
    --font-normal: 2rem;
    --font-small: 1.5rem;

    --body-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: var(--body-font);
}

/* Gift */
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    overflow: hidden;
}

#wrap-1 {
    width: 100%;
}

.title {
    margin: 2rem auto 0;
    font-size: var(--font-big);
    font-weight: 500;
    max-width: 70%;
}

.title__icon {
    color: red;
}

.sub__title {
    margin-top: 2rem;
    font-size: var(--font-small);
}

.gift {
    width: 800px;
    margin: 2rem auto 0;
    cursor: pointer;
}

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}

.confetti {
    position: fixed;
    top: 4rem;
    right: 13%;
    width: 200px;
    pointer-events: none;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.card {
    animation: zoomIn 0.5s ease-in-out;
    transform-origin: center 75%;
    cursor: pointer;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.floating {
    z-index: 99;
}

.loading__modal,
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.loading__modal {
    background-color: #fff;
    transform: scale(0);
}

.loading__modal.active {
    transform: scale(1);
}

.loading {
    max-width: 90%;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading__animate {
    max-width: 100%;
    width: 30rem;
}

.loading__text {
    font-size: var(--font-big);
    margin-top: 2rem;
}

.active {
    opacity: 1;
    visibility: visible;
}

.modal__body {
    position: relative;
    z-index: 1;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.active .modal__body {
    transform: scale(1);
}

.modal__close {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    padding: 0.5rem;
    cursor: pointer;
}

.modal__card {
    width: 60rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
}

.card__img {
    width: 100%;
    border-radius: 0.5rem;
}

.modal__text {
    position: absolute;
    width: 23rem;
    height: 13rem;
    top: 14.5rem;
    right: 4rem;
    font-weight: 600;
    text-align: justify;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    color: #890070;
    pointer-events: none;
}

.modal__close-icon {
    font-size: var(--font-normal);
    transition: opacity linear 0.3s;
}

.modal__close-icon:hover {
    opacity: 0.7;
}

.img__vertical {
    display: none;
}

/* Media queries */
@media only screen and (max-width: 999px) {
    :root {
        --font-bigger: 3rem;
        --font-big: 2rem;
        --font-normal: 1.4rem;
    }

    .confetti {
        right: 9%;
    }

    .modal__card {
        width: 40rem;
    }

    .modal__text {
        width: 15rem;
        height: 9.3rem;
        top: 10.4rem;
        right: 2.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 568px) {
    :root {
        --font-bigger: 2rem;
        --font-big: 1.5rem;
        --font-normal: 1.1rem;
    }

    .confetti {
        width: 150px;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal__card {
        padding: 3rem 1rem;
        width: 23rem;
    }

    .img__horizontal {
        display: none;
    }

    .img__vertical {
        display: block;
    }

    .modal__text {
        width: 12.4rem;
        height: 7.8rem;
        top: 22.2rem;
        right: 3.4rem;
    }
}

@media only screen and (max-width: 460px) {
    :root {
        --font-big: 1.2rem;
        --font-small: 0.935rem;
    }

    .gift {
        width: 500px;
    }

    .modal__card {
        width: 19rem;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        --font-big: 1rem;
        --font-normal: 0.935rem;
        --font-small: 0.75rem;
    }

    .gift {
        width: 400px;
    }

    .modal__card {
        width: 15rem;
    }

    .modal__text {
        width: 9.3rem;
        height: 5.8rem;
        top: 17.9rem;
        right: 2.9rem;
    }
}
